@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// :root {
//   --primary-color: #ed0256;
//   --secondary-color: #5997E0;
//   --text-color: #000000;
//   --layout-sider-background: #343A47;
//   --layout-header-background: #343A47;
//   --padding-sm: 16px;
//   --input-height-base: 52px;
//   --btn-height-base: 52px;
//   --btn-font-weight: 600;
//   --form-item-trailing-colon: false;
//   --btn-font-size-sm: 16px;
//   --btn-font-size-lg: 16px;
//   --border-color-base: #dedede;
// }
